<!DOCTYPE html>
<html>
<head>
    <title>Libros disponibles:</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
            padding-top: 2rem;
        }

        form {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            margin-bottom: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        input[type="text"], input[type="date"] {
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 1rem;
            font-size: 0.9rem;
            color: #333;
        }

        label {
            font-weight: 500;
            margin-bottom: 0.5rem;
            display: block;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            cursor: pointer;
            margin-top: 1rem;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        h1 {
            color: #007bff;
            font-weight: 500;
        }

        .book {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            margin-bottom: 2rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        let Books;
        $(document).ready(function(){
            $.get("/books/data", function(data, status){
                console.log(data);
                Books = data;
                // Now you can use the data object in your client-side script
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Crear nuevo libro</h1>
        <form action="/books" method="post">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title"><br>
          
            <label for="author">Autor/a:</label>
            <input type="text" id="author" name="author"><br>
    
            <label for="author">Estado:</label>
            <input type="text" id="state" name="state"><br>
    
            <label for="author">Disponibilidad:</label>
            <input type="text" id="avail" name="avail"><br>
          
            <label for="published_date">Fecha de Publicación:</label>
            <input type="date" id="published_date" name="published_date"><br>
          
            <!-- add other fields here -->
          
            <input type="submit" value="Crear">
          </form>
    
            <h1>Libros</h1>
            <% Books.forEach(book => { %>
                <div class="book">
                    <p><%= book.id %></p>
                    <h2><%= book.title %></h2>
                    <p><%= book.author %></p>
                    <p><%= book.state %></p>
                    <p><%= book.avail %></p>
                    <p><%= book.published_date %></p>
    
                    <!-- Other details... -->
    
                    <form action="/books/<%= book.isbn %>" method="POST">
                        <label for="title">Título:</label>
                        <input type="text" id="title" name="title" value="<%= book.title %>"><br>
    
                        <label for="author">Autor/a:</label>
                        <input type="text" id="author" name="author" value="<%= book.author %>"><br>

                        <label for="published_date">Fecha de Publicación:</label>
                        <input type="date" id="published_date" name="published_date"><br>
    
                        <label for="state">Estado:</label>
                        <input type="text" id="state" name="state" value="<%= book.state %>"><br>
    
                        <label for="avail">Disponibilidad:</label>
                        <input type="text" id="avail" name="avail" value="<%= book.avail %>"><br>
    
                        <!-- add other fields here -->
    
                        <input type="submit" value="Actualizar">
                    </form>
    
                    <a href="/booksdelete/<%= book.id %>">Borrar</a>
                </div>
            <% }) %>
            <a href="/">Volver</a>
        </div>
    </body>
    </html>
    




  
